+b.FORM(action="/").popup-form--questions.hide.js-popup-form
    +e.H6.title.title Создание вопроса

    +e.SPAN.description.light-text Пожалуйста введите некоторые данные и наш менеджер ответит вам на все ваши вопросы

    +formInputBox({
        'boxes': [
            {
                'inputType': 'text',
                'inputName': 'name',
                'inputMinLength': '5',
                'inputMaxLength': '25',
                'inputPlaceholder': 'Имя',
                'inputIconSrc': '/assets/img/specifications/icons/form/person-icon.svg',
                'inputIconAlt': 'person',
                'required': true
            },
            {
                'inputType': 'tell',
                'inputName': 'phone',
                'inputMinLength': '6',
                'inputMaxLength': '15',
                'inputPlaceholder': 'Телефон',
                'inputIconSrc': '/assets/img/specifications/icons/form/phone-icon.svg',
                'inputIconAlt': 'phone'
            },
            {
                'inputType': 'email',
                'inputName': 'email',
                'inputMinLength': '10',
                'inputMaxLength': '75',
                'inputPlaceholder': 'E-mail',
                'inputIconSrc': '/assets/img/specifications/icons/form/postcard-icon.svg',
                'inputIconAlt': 'postcard'
            },
            {
                'security': true,
                'inputType': 'text',
                'inputName': 'security',
                'inputMinLength': '10',
                'inputMaxLength': '75',
                'inputPlaceholder': 'Security',
                'inputIconSrc': '/assets/img/specifications/icons/form/postcard-icon.svg',
                'inputIconAlt': 'Security'
            },
            {
                'textarea': true,
                'required': true,
                'inputName': 'question',
                'inputMinLength': '10',
                'inputMaxLength': '250',
                'inputPlaceholder': 'Здесь может быть ваш вопрос',
                'inputIconSrc': '/assets/img/specifications/icons/form/message-icon.svg',
                'inputIconAlt': 'message'
            }
        ]
    })

    +e.BUTTON().btn.btn Отправить