+b.FORM(action="/").popup-form--reviews.hide.js-popup-form
    +e.H6.title.title Создание отызыва

    +e.SPAN.description.light-text Пожалуйста, введите некоторые данные для создания отзыва

    +formInputBox({
        'boxes': [
            {
                'inputType': 'text',
                'inputName': 'name',
                'inputMinLength': '5',
                'inputMaxLength': '25',
                'inputPlaceholder': 'Имя',
                'inputIconSrc': '/assets/img/specifications/icons/form/person-icon.svg',
                'inputIconAlt': 'person',
                'required': true
            },
            {
                'inputType': 'text',
                'inputName': 'priority',
                'inputMinLength': '10',
                'inputMaxLength': '75',
                'inputPlaceholder': 'Преимущества',
                'inputIconSrc': '/assets/img/specifications/icons/form/chat-priority-icon.svg',
                'inputIconAlt': 'priority'
            },
            {
                'inputType': 'text',
                'inputName': 'limitations',
                'inputMinLength': '10',
                'inputMaxLength': '75',
                'inputPlaceholder': 'Недостатки',
                'inputIconSrc': '/assets/img/specifications/icons/form/chat-limitations-icon.svg',
                'inputIconAlt': 'limitations'
            },
            {
                'textarea': true,
                'required': true,
                'inputName': 'message',
                'inputMinLength': '10',
                'inputMaxLength': '250',
                'inputPlaceholder': 'Здесь может быть ваш комментарий о товаре',
                'inputIconSrc': '/assets/img/specifications/icons/form/message-icon.svg',
                'inputIconAlt': 'message'
            }
        ]
    })

    +e.BUTTON().btn.btn Отправить