.form
  &-input
    &-label
      position: relative
      display: block
      transition: opacity .3s ease
      opacity: 1

      @media #{$med-lg-big-str}
        font-size: 16px!important

      &:before
        content: ''
        height: 10px
        width: 10px
        border: 1px solid $color-text
        border-radius: 50%
        display: inline-block
        margin-right: 10px

      &:after
        content: ''
        +position(a, false, 0, true, 0, false, 0, true, 50%)
        +transform(true, true, 50%, true, 50%)
        height: 6px
        width: 6px
        border-radius: 50%
        background: $color-primary
        transition: opacity.3s ease
        opacity: 0

        @media #{$med-lg-big-str}
          +transform(true, true, 50%, true, 35%)

input
  &[type="radio"]:checked
    & + label
      &:after
        opacity: 1