.form
  &-input
    &-row
      display: block
      position: relative
      padding-bottom: 20px
      border-bottom: 1px solid $silver-border-light
      transition: padding-bottom .3s ease
      +inputBox()

      & .complete-order-content__qr-code, & .complete-order-content__rec-token
        transition: max-height .5s ease, opacity .5s ease, margin .5s ease
        max-height: 250px
        opacity: 1
        margin-top: 20px

      & .complete-order-content__rec-token
        font-size: 14px

        p
          line-height: 1.2em

        span
          display: block
          margin-top: 15px
          font-weight: 600
          transition: margin .5s ease

      & .complete-order-content__qr-code
        width: 100%
        +flex(space-around, center, false, nowrap)

        span
          font-weight: 600
          font-size: 14px

        img
          width: 165px

        @media #{$med-xs}
          justify-content: center
          align-items: center
          flex-direction: column

          img, span
            margin-bottom: 15px
            transition: max-height .5s ease, margin .5s ease
            max-height: 200px

      & .form-input-row--pay-grid
        &:last-child
          padding-bottom: 0

        & .form-input-row__item
          &:nth-child(2)
            span
              opacity: 0

        & .form-input-row__item--full
          width: 100%

          & .form-input-row__field
            max-width: initial

          i
            top: 65%

          input
            & + span
              top: 67%

      &.small
        padding-bottom: 5px

        &:first-of-type, &:last-child
          padding-bottom: 20px

        &.authorized
          padding-bottom: 20px

        & .complete-order-content__qr-code
          max-height: 0!important
          opacity: 0
          margin: 0

          img, span
            margin-bottom: 0
            max-height: 0

        & .complete-order-content__rec-token
          opacity: 0
          margin: 0
          max-height: 0!important

          span
            margin: 0
            max-height: 0

          p
            max-height: 0

        & .form-input-row--pay-grid
          padding: 0!important

          & .form-input-row__item--full
            max-height: 0

        & .form-input-row
          & input
            max-height: 0!important
            opacity: 0!important
            margin-top: 0!important
            padding: 0!important

            & + span
              & + i
                opacity: 0!important
                font-size: 0!important

          & .form-input-row__item
            opacity: 0!important
            font-size: 0!important
            max-height: 0!important

      +formFiledStyles(false, 10px 20px 10px 40px, rgba($color-text, .7))

      i
        transition: opacity .3s ease, font-size .3s ease
        color: rgba($color-text, .35)

      input
        margin-top: 20px
        max-height: 100px
        transition: opacity .3s ease, max-height .3s ease, padding .3s ease, margin-top .3s ease, border .3s ease
        opacity: 1

        &[type="radio"]
          display: none!important
          
      label
        //position: relative
        //display: block
        //transition: opacity .3s ease
        //opacity: 1

        @media #{$med-xs}
          font-size: 12px!important

        & + input
          & + span
            & + i
              opacity: 1

        &.hide
          opacity: .5

          & + input
            max-height: 0
            opacity: 0
            padding: 0
            border: none
            margin-top: 0

            & + span
              opacity: 0

              & + i
                opacity: 0

        & + input + i, & + input + span + i
            top: 59%

      //  &:before
      //    content: ''
      //    height: 10px
      //    width: 10px
      //    border: 1px solid $color-text
      //    border-radius: 50%
      //    display: inline-block
      //    margin-right: 10px
      //
      //  &:after
      //    content: ''
      //    +position(a, false, 0, true, 0, false, 0, true, 50%)
      //    +transform(true, true, 50%, true, 50%)
      //    height: 6px
      //    width: 6px
      //    border-radius: 50%
      //    background: $color-primary
      //    transition: opacity.3s ease
      //    opacity: 0
      //
      //input
      //  &[type="radio"]:checked
      //    & + label
      //      &:after
      //        opacity: 1

      input
        & + span
          +position(a, true, 59%, false, 0, true, 15px)
          +transform(false, false, 0, true, -30%)
          font-size: 17px
          font-family: $lato-font
          color: red
          transition: opacity .3s ease
          opacity: 0
          z-index: 10

        &[required="required"]
          & + span
            opacity: 1

            &.hide
              opacity: 0
      &--pay
        &-grid
          margin-top: 0!important
          +flex(space-between, center, false, nowrap)

          input
            max-width: 270px

            @media #{$med-big-xlg}
              max-width: 200px

            @media #{$med-lap-normal}
              max-width: 160px

            @media #{$med-xlg-extra-small}
              max-width: 140px

            @media #{$med-lg-big-str}
              max-width: 120px!important

              &.full
                max-width: initial!important


            &::placeholder
              color: rgba($color-text, .7)

      &--pay-grid &__item:nth-child(2)
        span
          +position(r, true, 50%)
          +transform(false, false, 0, true, 40%)
          font-size: 20px
          line-height: 20px
          display: block

      &__item
        position: relative
        transition: opacity .3s ease, max-height .3s ease, padding .3s ease
        max-height: 100px
        opacity: 1

        & input
          & + span
            top: 66%

      &--pay-grid &__item
        margin-top: 0

        i
          top: 65%

          @media #{$med-xxs}
            top: 67.5%