.form
  &-pay
    margin-top: 30px
    +flex(flex-start, flex-end, true)

    &__title
      font-family: $lato-font
      font-size: 15px

    &__price
      margin-top: 15px

      &-numbers, &-value
        font-family: $lato-font

      &-numbers
        font-size: 30px
        color: $color-primary
        transition: opacity .3s ease
        opacity: 1

        @media #{$med-lg-big-str}
          font-size: 27px

        &.hide
          opacity: 0

      &-valute
        font-size: 20px
        color: $color-text
        margin-left: 5px