.form
  &-input
    &-box
      position: relative
      +inputBox()

      +formFiledStyles(175px, 10px 20px 10px 40px, $color-bread-crumbs)

      input, textarea
        &::placeholder
          @media #{$med-xs}
            line-height: 15px

      input
        & + span + i, & + i
          @media #{$med-xxs}
            top: 49%!important

      &.security
        display: none

        input
          & + span + i, & + i
            display: none