.link
  &-dashed
    padding-bottom: 5px
    font-family: $lato-font
    font-size: 15px
    color: lighten($color-text, 10%)
    font-weight: bold
    opacity: .7
    border-bottom: 1px dashed lighten($color-text, 10%)
    transition: color .3s ease
    margin-top: 25px

    &:hover
      color: $color-primary

    @media #{$med-xlg-small}
      font-size: 13px

    @media #{$med-xs}
      font-size: 12px!important