.alert
  &-info
    width: 100%
    margin-top: 50px
    +flex(center, center)
    transition: opacity .5s ease
    opacity: 1
    display: none

    &.hide
      opacity: 0

    &__text
      width: 100%
      max-width: 650px
      +flex(flex-start, center, true)

      @media #{$med-mob}
        margin: 60px auto 0

        & .btn
          max-width: initial

    &__img
      margin-bottom: 40px

    &__title
      width: 100%
      max-width: 500px
      text-align: center
      margin-bottom: 30px
      font-size: 36px

    &__description
      font-family: $lato-font
      font-size: 18px
      margin-bottom: 35px

      @media #{$med-very-xs}
        font-size: 16px

      @media #{$med-very-xs}
        max-width: 250px
        text-align: center

    &--thanks
      display: flex

      @media #{$med-mob}
        margin-top: 0

    &--thanks &__title
      max-width: 535px

    &__btn
      font-size: 16px
      max-width: initial
      width: initial
      box-shadow: $shadow-product-btn