.alert
  &-add
    &-product
      +position(f, true, 0, true, 0)
      z-index: 105
      height: 100vh
      width: 100%
      +flex(center, center, false, nowrap)

      &.hide
        display: none

      &__cover
        position: relative
        background: #fff
        padding: 70px 125px
        width: 100%
        max-width: 745px

        @media #{$med-mob}
          padding: 50px 100px
          max-width: 590px

        @media #{$med-mob-small}
          padding: 50px
          max-width: 450px

        @media #{$med-xs}
          padding-left: 25px!important
          padding-right: 25px!important

        @media #{$med-small-xs}
          height: 100vh

        @media (max-height: 450px) and (orientation: landscape)
          padding-top: 45px
          max-height: 100vh
          overflow-y: scroll

        @media (max-height: 320px) and (orientation: landscape)
          width: 100vw
          max-width: initial

      &__content
        +flex(center, center, true)
        text-align: center

        &-title, &-description
          text-align: center

        &-title
          margin-top: 35px

          @media #{$med-mob}
            &.title
              font-size: 20px!important

        &-description
          margin-top: 25px
          padding-left: 20px
          padding-right: 20px

          @media #{$med-mob}
            font-size: 15px

          @media #{$med-xs}
            font-size: 12px

          @media (max-height: 450px) and (orientation: landscape)
            max-height: 150px
            overflow-y: scroll

      &__section
        &-top, &-bottom
          display: flex

        &-top
          +flex(flex-start, center, true)

          @media #{$med-mob}
            img
              height: 50px
              width: auto

        &-bottom
          margin-top: 35px

          @media #{$med-xs}
            display: flex
            flex-direction: column

          @media #{$med-xs}
            margin-top: 50px

      &__btn
        margin-right: 15px

        @media #{$med-mob}
          font-size: 10px!important

        @media #{$med-xs}
          &:first-child
            margin-right: 0
            margin-bottom: 15px

        &:last-child
          margin-right: 0
          box-shadow: $shadow-product-btn

        &-close
          position: absolute
          top: 35px
          right: 35px
          cursor: pointer
          font-size: 18px
          color: $color-basket-params
          transition: color .3s ease

          @media #{$med-small-xs}
            top: 45px
            right: 20px

          &:hover
            color: $color-primary