.btn
  &-like
    position: absolute
    top: 15px
    left: 15px
    transition: opacity .3s linear
    opacity: .6

    &:after
      position: relative
      content: '+'
      top: 50%
      left: 150%
      transform: translateY(-10%)
      font-size: 22px
      font-weight: bold
      margin-left: 3px
      display: block
      color: $silver-border-light

    &:hover
      opacity: 1

    &:active
      opacity: .6

    &:focus
      outline: none

    i
      position: absolute
      top: 0
      left: 0
      transition: color .3s linear
      font-size: 23px
      color: $silver-border-light

    i:last-child
      opacity: 0
      transition: opacity .3s linear

    &:hover:after
      color: $color-text-darken

    &:hover i
      color: $color-text-darken

    &:hover i:last-child
      opacity: 1

    &--selected
      opacity: 1

      i:first-child
        opacity: 0

      i:last-child
        opacity: 1
        color: $color-primary

    &--selected:after
      color: $color-primary
      opacity: 1

    &--selected:hover:after
      color: $color-primary

    &--selected:hover i
      color: $color-primary

    &:hover + .small-alert-info
      opacity: 1
      z-index: 1

    &--selected:hover + .small-alert-info
      opacity: 0!important
      z-index: -1