.btn
  &-round
    position: relative
    height: 36px
    width: 36px
    border: 1px solid $color-text
    border-radius: 100%
    color: $color-text
    font-size: 27px
    transition: all .3s linear
    display: inline-block

    &:hover
      color: #fff
      background: $color-text

    &:active
      opacity: .5

    img, i
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)