.colors
  &-list
    +flex(flex-start, flex-start, false, wrap)
    width: 100%
    max-width: 200px
    max-height: 500px
    transition: max-height .3s ease, opacity .3s ease
    opacity: 1
    overflow: hidden

    li
      width: 30px
      height: 30px
      padding: 5px
      transition: border .3s ease
      border: 1px solid transparent
      border-radius: 10px
      margin-right: 10px
      margin-bottom: 10px

      &:last-child
        margin-right: 0

      &.active, &:hover
        border: 1px solid $color-text

      &.active
        a
          cursor: default

      &.active:hover a .small-alert-info
        opacity: 0!important
        z-index: -1!important

      &:nth-child(5), &:nth-child(10), &:nth-child(15), &:nth-child(20), &:nth-child(25), &:nth-child(30), &:nth-child(35), &:nth-child(40)
        margin-right: 0

      & .item
        position: relative
        width: 18px
        height: 18px
        border-radius: 5px
        display: block
        top: -2%
        left: 0

        & .small-alert-info
          top: -50px
          left: -10px

        &:hover .small-alert-info
          opacity: 1
          z-index: 1

    & .item--default, & .item--white
      position: relative

    & .item--default .item-border, & .item--white .item-border
      position: absolute
      height: 100%
      width: 100%
      border: 1px solid rgba($color-text, .5)
      border-radius: 5px

    & .item--default .item-border
      +flex(center, center)
      z-index: 1

      i
        position: relative

        &:before, &:after
          position: absolute
          content: ''
          +position(r, true, 50%)
          +transform(false, true, -50%)
          width: 26px
          height: 1px
          background: red
          transform-origin: center center
          transform: rotate(45deg)
          z-index: 2
          display: block

        &:after
          transform: rotate(-45deg)