.pagination
  &-controllers
    +flex(center, center, false, nowrap)
    transition: opacity .3s ease
    opacity: 1

    &.hide
      opacity: 0

    & .btn
      &-prev, &-next
        transition: padding .3s ease
        font-size: 25px
        width: 50px
        line-height: 15px

        i
          transition: color .3s ease

      &-prev, &-next
        @media #{$med-mob-small}
          padding-left: 0
          padding-right: 0

        &:hover
          i
            color: $color-primary

      &-prev
        margin-right: 10px

        @media #{$med-mob-small}
          margin-right: 3px!important

      &-next
        margin-left: 10px

        @media #{$med-mob-small}
          margin-left: 3px!important

      &-prev
        &:hover
          padding-right: 20px

          @media #{$med-mob-small}
            padding-right: 6px!important

      &-next
        &:hover
          padding-left: 20px

          @media #{$med-mob-small}
            padding-left: 6px!important