.popup
  position: fixed
  +position(f, true, 0, true, 0)
  z-index: 100
  width: 100%
  height: 100vh
  overflow: hidden

  &__cover
    +position(a, true, 0, true, 0)
    width: 100%
    height: 100%
    background: $popup-background-cover
    +flex(center, center)

    &-content
      position: relative
      background: #fff
      width: 100%
      max-width: 450px
      padding: 90px 55px 60px
      +flex(flex-start, center, true)

      @media #{$med-xs}
        padding-left: 25px
        padding-right: 25px

      @media #{$med-small-xs}
        padding-bottom: 25px
        height: 100vh
        width: 100vw
        max-width: initial

      @media (max-height: 450px) and (orientation: landscape)
        max-height: 100vh
        padding-left: 30px

      @media (max-height: 320px) and (orientation: landscape)
        width: 100vw
        max-width: initial
        padding-bottom: 25px