.universal
  &-preloader
    position: fixed
    top: 0
    left: 0
    background: #ffffff
    height: 100vh
    width: 100vw
    z-index: 9999
    +flex(center, center, no-wrap)
    transition: opacity .5s linear, z-index .5s linear

    &--small
      position: absolute
      height: 100%
      width: 100%

    &.hide
      opacity: 0
      z-index: -9999

    &__logo
      position: relative
      height: 175px
      width: 175px
      overflow: hidden
      padding: 10px
      animation: preloader-container .9s ease-in-out infinite alternate

      &:after
        position: absolute
        left: 0
        top: 50%
        content: ""
        z-index: 2
        height: 150px
        width: 200%
        background: #fff
        transform: rotate(45deg)
        transform-origin: center center
        animation: preloader 1s linear infinite
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 91%,rgba(255,255,255,0) 100%)

      img
        position: absolute
        top: 0
        left: 0
        z-index: 1
        height: 100%
        width: 100%