.price
  @media (max-width: $media-mobile)
    margin-top: 30px
    //width: 65px!important

  &__number
    position: relative
    margin-top: 15px
    font-size: 36px
    font-family: $lato-font
    color: lighten($color-primary, 10%)
    display: inline-block

    &:after
      content: '₴'
      position: relative
      left: 5%
      //margin-left: -3px
      font-size: 23px
      color: $color-text

      @media (max-width: $media-mobile)
        position: absolute
        left: calc(100% + 5px)
        bottom: 1.5px
        //bottom: 3px

    & + strike
      color: $color-text-dark
      opacity: .5

    strike
      position: absolute
      top: 17px
      right: 0
      font-size: 15px
      color: $color-text-dark
      opacity: .5

      @media (max-width: $media-mobile)
        top: -25px
        right: -35px