.product
  &-item
    position: relative
    background: $bg-color-dark
    width: 100%
    max-width: 550px
    min-height: 195px
    +flex(center, center, true)

    @media (max-width: $media-between-xg)
      max-width: 440px

    &:focus
      outline: none

    &__sale, &__new
      position: absolute
      top: 0
      right: 0
      color: #fff
      background: $color-primary
      padding: 10px 15px
      box-shadow: $shadow-sale-alert

      span
        font-size: 16px
        font-family: $lato-font
        font-weight: bold

        @media #{$med-small-xs}
          font-size: 11px

    &__sale
        &:after, &:before
          color: #fff
          font-family: $lato-font
          font-weight: bold

          @media #{$med-small-xs}
            font-size: 11px

        &:before
          content: '-'
          margin-right: 1px

        &:after
          content: '%'
          margin-left: 1px

    &__new
      background: $color-text-darken
      box-shadow: $shadow-new-alert

      span
        font-weight: 500

    &__price
      position: relative

      strike
        position: absolute
        //top: 0
        top: 25%
        right: -40px

    & .price
      @media #{$med-mob}
        margin-top: 0

        &__number
          +position(r, fase, 0, true, 50%)
          +transform(false, true, -50%)

          &:after
            position: relative
            left: 5%
            //left: -17px
            //bottom: 1px
            bottom: 0

    &--small
      max-width: 417px

    &--present
      max-width: 450px
      padding: 20px 120px 54px
      height: 100%
      overflow: hidden
      flex-wrap: nowrap

      @media #{$med-xlg}
        display: none

    &--present .product-item
      overflow: hidden

    &--present &__btn-buy
      position: relative
      margin-top: 0
      //left: 50%
      //transform: translateX(-50%)

    &__img
      width: 180px
      height: 230px
      margin-bottom: 15px
      object-fit: contain
      background-position: center center!important

      @media #{$med-mob}
        width: 175px

    &--present &__img
      height: 140px
      object-fit: cover

    &__title
      margin-bottom: 30px
      text-align: center
      font-family: $montserrat-font-bold
      font-size: 18px
      width: 100%
      max-width: 320px
      color: $color-text
      transition: color .3s linear

      &:hover
        color: $color-primary

      @media (max-width: $media-between-xg)
        max-width: 250px
        font-size: 15px

    &__price
      margin-bottom: 25px

    &--present .product-item__title
      margin-bottom: 29px
      height: auto

      strong
        display: block
        width: 100%

    &--present &__code, &--catalog &__code
      font-size: 18px
      font-family: $lato-font
      color: $color-product-code
      transition: opacity .1s ease-out
      opacity: 1
      text-transform: uppercase

    &--popular, &--new, &--similar-card, &--buying
      text-align: center
      max-width: initial
      padding: 35px 30px 55px

    &--popular
      @media #{$med-normal-xs}
        padding-left: 8px!important
        padding-right: 8px!important
        padding-bottom: 15px

    &--popular .product-item__img
      @media #{$med-normal-xs}
        width: 58px!important
        height: 58px!important
        margin-bottom: 10px

    &--popular .product-item__title
      @media #{$med-normal-xs}
        font-size: 9px!important
        margin-bottom: 10px

    &--popular .price__number
        @media #{$med-normal-xs}
          font-size: 25px

    &--popular .product-item__btn-buy
      @media #{$med-normal-xs}
        width: 85%
        font-size: 11px
        padding: 10px 15px!important
        margin-top: 15px

    &--popular .product-item__title, &--new .product-item__title
      max-width: 257px
      margin-bottom: 20px
      display: inline-block

    &--popular .product-item__img, &--new .product-item__img
      width: 100%
      max-width: 150px
      margin: 0 auto
      //object-fit: cover
      object-fit: contain

      @media #{$med-mob}
        margin-bottom: 20px

    &--new
      & .price__number
        @media #{$med-mob}
          &:after
            left: 5%
          //  left: initial

      & .product-item__price
        @media #{$med-mob}
          strike
            //top: -15px
            right: -30px
            font-size: 15px

      & .product-item__btn-buy
        display: block

      @media #{$med-normal-xs}
        max-width: initial!important

        & .product-item__title
          font-size: 12px

      @media #{$med-xs}
        & .product-item__title
          font-size: 15px!important

    &--popular .product-item__price
      @media #{$med-normal-xs}
        //margin-top: 0
        //left: 65%
        //transform: translateX(-50%)

        strike
          position: relative
          right: -15px
          top: -15px

    &--popular .price__number
      //@media #{$med-mob}
      //  font-size: 25px
      //
      //  &:after
      //    font-size: 17px
      //
      //  strike
      //    font-size: 14px

      //@media #{$med-normal-xs}
        //left: 65%
        //position: relative
        //left: 63%
        //transform: initial

      &:after
        @media #{$med-mob}
          //left: 1px

        @media #{$med-normal-xs}
          position: relative
          //left: -17px
          bottom: 1px
          font-size: 12px

      strike
        @media #{$med-normal-xs}
          top: -15px

    @media #{$med-normal-xs}
      &--popular .price__number
        font-size: 19px!important

      strike
        //right: -15px!important
        font-size: 12px!important

    &--popular .product-item__btn-buy, &--new .product-item__btn-buy
      opacity: 1!important

      @media #{$med-lg-str}
        font-size: 11px
        padding-left: 30px
        padding-right: 30px

    &--new .product-item__img
      max-width: 200px

    &--new .product-item__btn-buy
      @media #{$med-small-xs}
        padding-left: 50px!important
        padding-right: 50px!important

    //CATALOG ITEM
    &--catalog
      width: 100%
      max-height: 550px
      //max-width: 291px
      //margin-right: 15px
      margin-bottom: 15px
      padding: 35px 40px

      //@media #{$med-mob}
        //max-height: 306px

      & .product-item__sale, & .product-item__new
        @media #{$med-small-xs}
          font-size: 11px

          span
            font-size: 11px

      & .product-item__title
        color: $color-text
        transition: color .3s linear

        &:hover
          color: $color-primary

        @media #{$med-mob}
          margin-bottom: 20px

      @media #{$med-mob}
        max-width: 41.9vw!important

        &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21), &:nth-child(24), &:nth-child(27), &:nth-child(30), &:nth-child(33), &:nth-child(36), &:nth-child(39), &:nth-child(42), &:nth-child(45), &:nth-child(48), &:nth-child(52), &:nth-child(55), &:nth-child(58)
          margin-right: 15px!important

        &:nth-child(even)
          margin-right: 0!important

      @media #{$med-small-xs}
        padding-left: 8px!important
        padding-right: 8px!important
        padding-bottom: 15px

    &--catalog .product-item__title
      @media #{$med-big-xlg}
        font-size: 16px

      @media #{$med-lap-big}
        font-size: 12px

      @media #{$med-small-xs}
        font-size: 9px!important
        margin-bottom: 10px

    &--catalog .product-item__img
      height: 185px
      //object-fit: cover

      @media #{$med-lap-big}
        height: 135px
        width: 135px

      @media #{$med-very-xs}
        width: 120px
        height: 120px
        margin-bottom: 10px

      @media #{$med-small-xs}
        width: 58px!important
        height: 58px!important

    &--catalog .price
      @media #{$med-mob}
        margin-top: 0
        position: relative
        //left: 65%
        left: 50%
        transform: translateX(-50%)

        strike
          position: relative
          right: -15px

        &__number
          @media #{$med-very-xs}
            font-size: 19px

            &:after
              position: relative
              //left: -17px
              left: 5%
              //bottom: 1px
              bottom: 0
              font-size: 15px

      strike
        @media #{$med-mob}
          top: -35px
          font-size: 12px
          right: -25px

        @media #{$med-very-xs}
          top: -20px
          font-size: 10px
          right: -15px!important

    &--catalog .product-item__btn-buy
      //position: absolute
      padding-left: 45px!important
      padding-right: 45px!important
      font-size: 12px!important

      @media #{$med-mob}
        padding-left: 30px!important
        padding-right: 30px!important

      @media #{$med-small-xs}
        width: 85%
        font-size: 11px!important
        padding: 10px 15px!important
        margin-top: 15px

    &:hover &__code
      opacity: 0

      @media #{$med-mob}
        opacity: 1

    & .product-item__price
      @media #{$med-very-xs}
        margin-bottom: 15px

    & &__code
      @media #{$med-small-xs}
        font-size: 13px

    &:hover &__btn-buy
      opacity: 1

    @media #{$med-very-xs}
      padding-left: 20px
      padding-right: 20px

    & &__btn-like
      @media #{$med-very-xs}
        i
          font-size: 20px

        &:after
          font-size: 19px

    &__btn
      &-buy
        position: relative
        max-width: 180px!important
        margin-top: 20px
        transition: opacity .3s linear
        opacity: 0
        box-shadow: $shadow-product-btn

        @media #{$med-lg-str}
          font-size: 14px

        @media #{$med-mob}
          opacity: 1!important