.products
  &-line
    margin-top: 40px

    &__title
      @media #{$med-mob-small}
        max-width: 230px

      @media #{$med-small-xs}
        max-width: 190px

    &__container
      +container()
      flex-direction: column
      overflow: hidden

    &-section
      &-content
        &-slider
          //width: 102.55%!important
          width: 100%!important
          +flex(flex-start, center, false, nowrap)

          //@media #{$med-mob}
            //width: 106%!important

          //@media #{$med-mob-small}
            //width: 107%!important
            width: 109%!important

          //@media #{$med-small-xs}
            //width: 115%!important
            width: 100%!important

          //& .slick-list
          //  width: 100%
          //  overflow-y: visible
          //  padding-top: 40px
          //  +flex(flex-start, stretch, false, nowrap)

          & .owl-stage
            display: flex
            padding-top: 40px

          //& .slick-track
          //  +flex(center, center, false, nowrap)

          & .price
            display: inline-block
            margin-top: 10px

          & .price__number
            position: relative
            display: inline-block

          & .product-item__img
            height: 180px

    &__section
      &-content
        margin-top: 10px
        width: 100%
        overflow: hidden

      &-head
        +flex(space-between, center, false, nowrap)
        width: 100%

    &__slider
      &-btns
        display: flex
        flex-wrap: nowrap

      &-btn
        &-next
          margin-left: 10px