.small
  &-alert
    &-info
      padding: 10px 15px
      position: absolute
      top: -37px
      left: 8px
      font-size: 14px
      color: #ccc
      background: #ffffff
      font-family: $lato-font
      border: 1px solid $silver-border-light
      border-radius: 3px
      transition: opacity .3s linear
      opacity: 0
      z-index: -1
      box-shadow: $shadow-select-alert

      span
        position: absolute
        bottom: -73%
        left: 10px
        width: 0
        height: 0
        border-style: solid
        border-width: 24px 7.5px 0 7.5px
        border-color: $silver-border-light transparent transparent transparent
        z-index: 1

        &:after
          content: ''
          position: absolute
          bottom: -73%
          left: -6.5px
          width: 0
          height: 0
          border-style: solid
          border-width: 25px 6px 0 7.5px
          border-color: #fff transparent transparent transparent
          z-index: 2

      @media #{$med-mob}
        display: none