.alert
  &-cookie
    width: 100%
    position: fixed
    bottom: 0
    left: 0

    padding: 10px 0
    box-shadow: 0 75px 20px 85px rgba(64,83,111,.5)

    background-color: #f2f2f2
    z-index: 255
    opacity: 1
    transition: opacity .5s linear, z-index .5s linear

    &.hide
      opacity: 0
      z-index: -10

    &__container
      align-items: center

    &__text
      width: 100%
      max-width: 700px

      line-height: 1.6
      font-size: 13px

      @media #{$med-mob}
        font-size: 11px
        max-width: 300px

      @media #{$med-normal-xs}
        margin-bottom: 20px

      a
        border-bottom: 1px dashed $color-text-darken
        color: $color-text-darken
        transition: color .5s linear

        &:hover
          color: $color-primary

    &__btn
      padding: 7px
      font-size: 14px
      background-color: $color-primary
      color: #fff
      font-weight: bold

      text-decoration: none
      text-transform: uppercase

      border-radius: 5px
      transition: background-color .5s ease

      @media #{$med-normal-xs}
        width: 100%
        text-align: center

      &:hover
        background-color: $color-text