.priority
  margin-top: 200px
  padding: 90px 0 130px
  background: $bg-color-dark

  @media (max-width: $media-between-xg)
    margin-top: 170px

  @media #{$med-mob-small}
    margin-top: 100px!important

  &__container
    +flex(center, center, true)

  &-list
    margin-top: 80px
    +flex(center, flex-end)

    @media #{$med-lg-str}
      max-width: 1433px
      justify-content: space-around

    &__item
      margin-right: 115px
      +flex(flex-start, center, true, nowrap)

      @media (max-width: $media-between-xg)
        margin-right: 100px

      @media (max-width: $exclusive-xlg)
        margin-right: 80px

      @media #{$med-lg-str}
        margin-right: 35px

        &:first-child, &:nth-child(2)
          margin-bottom: 35px

        &:nth-child(even)
          margin-right: 0

      @media #{$med-xs}
        margin-right: 0!important

        //&:nth-child(3), &:last-child
          margin-top: 35px

      &-img
        margin-bottom: 35px

        @media #{$med-lg-str}
          width: 100%
          max-width: 85px

        @media #{$med-small-xs}
          max-width: 55px!important

      &-name
        font-weight: bold
        font-size: 22px
        line-height: 27px
        font-family: $montserrat-font-bold

        @media (max-width: $exclusive-xlg-small)
          font-size: 20px

        @media #{$med-lg-str}
          font-size: 15px!important

        @media #{$med-small-xs}
          width: 100%
          max-width: 135px
          text-align: center

      &:last-child
        margin-right: 0