@keyframes no-valid-checkbox
  from
    border-bottom-color: transparent

  to
    border-bottom-color: red

@keyframes no-valid-input
  from
    border-color: red

  to
    border-color: transparent


@keyframes preloader
  from
    top: 50%

  25%
    top: 25%

  50%
    top: 0

  75%
    top: -90%

  to
    top: -95%

@keyframes preloader-container
  from
    opacity: 1

  to
    opacity: 0