.article
  &-item
    width: 100%
    height: 100%
    display: block
    color: #fff
    box-shadow: $shadow-article

    &__wrapper
      position: relative
      width: 100%
      height: 100%
      z-index: 1
      overflow: hidden
      display: block

      &-img
        position: absolute
        top: 0
        left: 0
        z-index: 2
        width: 100%
        height: 100%
        filter: blur(3px)

    &__content
      position: absolute
      top: 0
      left: 0
      z-index: 4
      width: 100%
      height: 100%
      padding: 50px 45px 25px
      background: rgba(62, 63, 67, 0.7)

      @media #{$med-small-xs}
        padding-left: 25px
        padding-right: 25px

      &-title
        color: #fff!important

        @media #{$med-xlg}
          font-size: 28px

        @media #{$med-xlg-extra-lg}
          font-size: 25px

        @media #{$med-lg-str}
          font-size: 22px!important

        @media #{$med-mob-small}
          font-size: 30px!important

      p
        font-family: $lato-font
        font-size: 18px
        line-height: 120%
        margin-top: 15px
        padding-bottom: 20px

        @media (max-width: $exclusive-xlg-small)
          font-size: 15px

        @media #{$med-lg-str}
          font-size: 14px!important

        @media #{$med-mob-small}
          font-size: 16px!important

      &-footer
        position: absolute
        bottom: 25px
        padding-top: 20px
        margin-top: 35px
        width: 80%
        border-top: 1px solid #fff
        +flex(flex-start, flex-start)

        @media #{$med-xlg}
          width: 100%
          max-width: 73%
          left: 50%
          transform: translateX(-50%)

        @media #{$med-mob-small}
          max-width: 83%!important

        &-date, &-views
          +flex(center, center, false, nowrap)
          font-family: $lato-font

          @media #{$med-lg-str}
            font-size: 14px

          i
            height: 15px
            width: 15px
            margin-right: 10px

        &-date
          margin-right: 20px

        &-views
          i
            background-size: contain!important