+b.HEADER.header#header
    +b.header-section-top
        +e.container
            +b.UL.header-head
                +e.item--language.js-header-language-list
                    +e.BUTTON.language-item RU

                    +e.BUTTON.language-item--active UA

                +e.A(href="/", class="item").logo
                    img(src="/assets/img/specifications/logo.svg", alt="logo")

                +e.FORM(action="#", method="post")
                    +e.form-input
                        input(type="text", name="header-search-input", required).header-search

                        i.fas.fa-times.btn-clear-search-input

                    button
                        i
                            img(src="/assets/img/specifications/icons/search-icon.svg", alt="search")

            +e.UL.nav
                +e.nav-item
                  i
                    img(src="/assets/img/specifications/icons/phone-icon.svg", alt="phone")

                  a(href="tel:+380663641919") +38 (066) 364 19 19

                +e.nav-item--cotrollers#js-header-cotrollers-list
                    +b.UL.head-nav-navigation
                        +e.item--selected.checked-position-top
                            a(href="#")
                                i.far.fa-heart

                                i.fas.fa-heart

                        +e.item--package
                            a(href="/basket.html")
                                img(src="/assets/img/specifications/icons/package-icon.svg", alt="package")

                                span(data-products="2")


                +e.nav-item
                    form(action="#", method="post")
                        +e.nav-item-form-input
                            input(type="text", name="header-search-input", id="header-search", required)

                            i.fas.fa-times#btn-clear-search-input

                button
                    i
                        img(src="/assets/img/specifications/icons/search-icon.svg", alt="search")


    nav
        +e.container.header__nav-container
            +e.section-top-left.swiper-container#js-header-menu
                +b.UL.header-menu.swiper-wrapper
                    +e.item--active.header-menu__item--dropdown.swiper-slide
                        a(href="#") Каталог

                        +e.DIV.item-submenu-list
                            +b.UL.header-submenu
                                +subMenu({
                                    'list1': [
                                        {
                                            'text': 'Каталог',
                                            'href': '/catalog.html'
                                        },
                                        {
                                            'text': 'Популярное',
                                            'href': '#'
                                        },
                                        {
                                            'text': 'Новинки',
                                            'href': '#'
                                        },
                                        {
                                            'text': 'Акции',
                                            'href': '#'
                                        },
                                        {
                                            'text': 'О доставке',
                                            'href': '#'
                                        },
                                        {
                                            'text': 'Контакты',
                                            'href': '#'
                                        },
                                        {
                                            'text': 'Зажигалки',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Кальяны',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Ключницы',
                                            'href': '#'

                                        }
                                    ],

                                    'list2': [
                                        {
                                            'text': 'Корзины для пикника',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Корзины и Кашпо',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Ланч-боксы',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Игры',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Обложка на паспорт',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Оникс',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Подносы',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Пасха',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Фоторамки',
                                            'href': '#'

                                        }
                                    ],

                                    'list3': [
                                        {
                                            'text': 'Турки',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Термосы',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Ланч-боксы',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Подставки для книг',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Подставки для вина',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Подсвечники',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Новый год',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Свечи',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Посуда',
                                            'href': '#'

                                        }
                                    ],

                                    'list4': [
                                        {
                                            'text': 'Соляные лампы',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Шкатулки',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Шоколад',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Мужские наборы',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Ароматерапия',
                                            'href': '#'

                                        },
                                        {
                                            'text': 'Ангелы',
                                            'href': '#'

                                        }
                                    ]
                                })

                            +e.DIV.item-submenu-product
                                +b.product-item--present
                                    +product({
                                        'products': [
                                            {
                                                'product_id': '1',
                                                'imgSrc': '/assets/img/products/product-present-1.png',
                                                'alt': 'product-4',
                                                'price': ['368', '450'],
                                                'title': 'Подарочный набор',
                                                'brand': 'PETER RABBIT',
                                                'code': '#CG1249',
                                                'btnBuy': 'В корзину'
                                            }
                                        ],

                                        'one_product': true
                                    })


                    +e.item.swiper-slide
                        a(href="/#products-popular") Популярное

                    +e.item.swiper-slide
                        a(href="/#products-new") Новинки

                    +e.item.swiper-slide
                        a(href="/articles.html") Акции

                    +e.item.swiper-slide
                        a(href="/about-delivery.html") О доставке

                    +e.item.swiper-slide
                        a(href="#") Контакты

        +b.BUTTON.header-menu-btn
            i.fa.fa-angle-right

    +b.header-section-bottom

    //include ../../utils/header-slider