+b.alert-add-product.hide.js-popup-form#js-alert-add-product
    +e.cover
        +e.BUTTON.btn-close#js-alert-add-product-btn-close
            i.fas.fa-times

        +e.content
            +e.section-top
                +e.IMG(src="/assets/img/specifications/icons/success-icon.svg", alt="success")

                +e.H6.content-title.title Товар успешно добавлен в корзину!

                +e.SPAN.content-description.light-text Вы можете оформить заказ прямо сейчас или продолжить покупки в нашем каталоге!

            +e.section-bottom
                +e.A(href="/basket.html").btn--unique.btn.btn-unique#js-btn-set-order Оформить заказ

                +e.A(href="javascript:void(0);").btn.btn#js-btn-continue-purchase Продолжить покупки
