+e.slider
    +e.slider-container
        +e.A(href="javascript:void(0);").slider-btn-prev.btn-round.js-header-slider-btn-prev
            i.fa.fa-angle-left

        +e.section-top
            +e.slider-content
                +e.slider-content-mobile-controlers
                    +e.A(href="javascript:void(0);").slider-btn-prev.btn-round.js-header-slider-btn-prev
                        i.fa.fa-angle-left

                    +e.A(href="javascript:void(0);").slider-btn-next.btn-round.js-header-slider-btn-next
                        i.fa.fa-angle-right

                +e.UL.slider-content-list#js-header-sliders
                    +e.LI.slider-content-list-item
                        +e.IMG.slider-images(src="/assets/img/header/header-item-1.png", alt="img1")
                        +e.slider-front
                            h3.title Сделай подарок близким и любимым!

                            p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

                            +e.slider-content-list-item-price
                                +e.slider-content-list-item-price-title Всего за:

                                +price(['368', '450'])


                            div
                                +e.A(href="/card-product.html").slider-content-list-item-btn.js-slider-item-buy.btn Заказать сейчас

                                +e.UL.slider-content-list-item-socials
                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-instagram

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-facebook-f

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-youtube

                    +e.LI.slider-content-list-item
                        +e.IMG.slider-images(src="/assets/img/header/header-item-2.png", alt="img1")
                        +e.slider-front
                            h3.title Сделай подарок близким и любимым!1

                            p 2Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

                            +e.slider-content-list-item-price
                                +e.slider-content-list-item-price-title Всего за:

                                +price(['348', '450'])

                            div
                                +e.A(href="/card-product.html").slider-content-list-item-btn.js-slider-item-buy.btn Заказать сейчас

                                +e.UL.slider-content-list-item-socials
                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-instagram

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-facebook-f

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-youtube

                    +e.LI.slider-content-list-item
                        +e.IMG.slider-images(src="/assets/img/header/header-item-3.png", alt="img1")
                        +e.slider-front
                            h3.title Сделай подарок близким и любимым!3

                            p 3Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

                            +e.slider-content-list-item-price
                                +e.slider-content-list-item-price-title Всего за:

                                +price(['300', '450'])

                            div
                                +e.A(href="/card-product.html").slider-content-list-item-btn.js-slider-item-buy.btn Заказать сейчас

                                +e.UL.slider-content-list-item-socials
                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-instagram

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-facebook-f

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-youtube

                    +e.LI.slider-content-list-item
                        +e.IMG.slider-images(src="/assets/img/header/header-item-4.png", alt="img1")
                        +e.slider-front
                            h3.title Сделай подарок близким и любимым!3

                            p 3Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

                            +e.slider-content-list-item-price
                                +e.slider-content-list-item-price-title Всего за:

                                +price(['210', '450'])

                            div
                                +e.A(href="/card-product.html").slider-content-list-item-btn.js-slider-item-buy.btn Заказать сейчас

                                +e.UL.slider-content-list-item-socials
                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-instagram

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-facebook-f

                                    li
                                        a(href="#", target="_blank")
                                            i.fab.fa-youtube

        +e.A(href="javascript:void(0);").slider-btn-next.btn-round.js-header-slider-btn-next
            i.fa.fa-angle-right

+e.section-bottom
    +b.UL.header-btns-list
        +e.LI.item
            a(href="#") Подарки
                i
                    img(src="/assets/img/header/icons/header-icon-1.svg", alt="1")



        +e.LI.item
            a(href="#") Декор для дома
                i
                    img(src="/assets/img/header/icons/header-icon-2.svg", alt="2")



        +e.LI.item
            a(href="#") Ароматы для дома
                i
                    img(src="/assets/img/header/icons/header-icon-3.svg", alt="3")



        +e.LI.item
            a(href="#") Уютная кухня
                i
                    img(src="/assets/img/header/icons/header-icon-4.svg", alt="4")



        +e.LI.item
            a(href="#") Праздники
                i
                    img(src="/assets/img/header/icons/header-icon-5.svg", alt="5")



        +e.LI.item
            a(href="#") Топ 20
                i
                    img(src="/assets/img/header/icons/header-icon-6.svg", alt="6")