mixin menu(data)
    each item in data.menu
        if !item.modifier
            +e.LI(class=item.class)
                a(href= item.href)=item.text
        else
            +e.LI.item.welcome-menu__item--active
                a(href= item.href)=item.text

mixin menuFooter(data)
    each item in data.menu
        if !item.modifier
            +e.LI(class=item.class)
                a(href= item.href)=item.text
        else
            +e.LI.item--active
                a(href= item.href)=item.text

mixin menuMobile(data)
    each item in data.menu
        if !item.modifier
            +e.LI(class=item.class)
                a(href= item.href)=item.text
        else
            +e.LI.item--active
                a(href= item.href)=item.text

mixin title-vertical-line(isTitle)
    if isTitle
        +b.DIV(class=isTitle).title__vertical-line
            +e.SPAN
    else
        +b.DIV.title__vertical-line
            +e.SPAN

//Specifications
mixin price(data)
    +b.price
        +e.number= data[0]

        strike= data[1]

mixin product(data)
    if !data.one_product
        if data.link
            if !data.mobileSmall
                +b.A(href= data.href, target="_blank", data-product-id= data.product_id).product-item
                    if data.like
                        +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                            i.far.fa-heart

                            i.fas.fa-heart

                        +smallAlertInfo('В список желаний')

                    if data.new
                        +e.new
                            span New

                    +e.IMG(src= data.imgSrc, alt= data.alt).img

                    +e.price
                        +price(data.price)

                    +e.H6.title= data.title

                        br

                        strong= data.brand

                    if data.code
                        +e.SPAN.code= data.code

                    if data.btnBuy
                        +e.BUTTON.btn-buy.btn.js-product-btn-buy= data.btnBuy

            else
                +b.A(href= data.href, target="_blank", data-product-id= data.product_id, class="product-item--small").product-item
                    if data.like
                        +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                            i.far.fa-heart

                            i.fas.fa-heart

                        +smallAlertInfo('В список желаний')

                    if data.stock
                        +e.sale
                            span= data.stock

                    if data.new
                        +e.new
                            span New

                    +e.IMG(src= data.imgSrc, alt= data.alt).img

                    +e.price
                        +price(data.price)

                    +e.H6.title= data.title

                        br

                        strong= data.brand

                    if data.code
                        +e.SPAN.code= data.code

                    if data.btnBuy
                        +e.BUTTON.btn-buy.btn.js-product-btn-buy= data.btnBuy

        else
            if !data.mobileSmall
                +b(data-product-id= data.product_id).product-item
                    if data.like
                        +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                            i.far.fa-heart

                            i.fas.fa-heart

                        +smallAlertInfo('В список желаний')

                    if data.stock
                        +e.sale
                            span= data.stock

                    if data.new
                        +e.new
                            span New

                    +e.IMG(src= data.imgSrc, alt= data.alt).img

                    +e.price
                        +price(data.price)

                    +e.H6.title= data.title

                        br

                        strong= data.brand

                    if data.code
                        +e.SPAN.code= data.code

                    if data.btnBuy
                        +e.BUTTON.btn-buy.btn.js-product-btn-buy= data.btnBuy

            else
                +b(data-product-id= data.product_id, class="product-item--small").product-item
                    if data.like
                        +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                            i.far.fa-heart

                            i.fas.fa-heart

                        +smallAlertInfo('В список желаний')

                    if data.stock
                        +e.sale
                            span= data.stock

                    if data.new
                        +e.new
                            span New

                    +e.IMG(src= data.imgSrc, alt= data.alt).img

                    +e.price
                        +price(data.price)

                    +e.H6.title= data.title

                        br

                        strong= data.brand

                    if data.code
                        +e.SPAN.code= data.code

                    if data.btnBuy
                        +e.BUTTON.btn-buy.btn.js-product-btn-buy= data.btnBuy

    else
        each product in data.products
            if product.link
                if !product.mobileSmall
                    +b.A(href= product.href, target="_blank", data-product-id= product.product_id, class= product.modifier).product-item
                        if product.like
                            +e.BUTTON.btn-like.btn-like.js-product-btn-like
                                i.far.fa-heart

                                i.fas.fa-heart

                            +smallAlertInfo('В список желаний')

                        if product.stock
                            +e.sale
                                span= product.stock

                        if product.new
                            +e.new
                                span New

                        +e.IMG(src= product.imgSrc, alt= product.alt).img

                        +e.price
                            +price(product.price)

                        +e.H6.title= product.title

                            br

                            strong= product.brand

                        if product.code
                            +e.SPAN.code= product.code

                        if product.btnBuy
                            +e.BUTTON.btn-buy.btn.js-product-btn-buy= product.btnBuy

                else
                    +b.A(href= product.href, target="_blank", data-product-id= product.product_id, class= product.modifier, class="product-item--small").product-item
                        if product.like
                            +e.BUTTON.btn-like.btn-like.js-product-btn-like
                                i.far.fa-heart

                                i.fas.fa-heart

                            +smallAlertInfo('В список желаний')

                        if product.stock
                            +e.sale
                                span= product.stock

                        if product.new
                            +e.new
                                span New

                        +e.IMG(src= product.imgSrc, alt= product.alt).img

                        +e.price
                            +price(product.price)

                        +e.H6.title= product.title

                            br

                            strong= product.brand

                        if product.code
                            +e.SPAN.code= product.code

                        if product.btnBuy
                            +e.BUTTON.btn-buy.btn.js-product-btn-buy= product.btnBuy
            else
                if !product.mobileSmall
                    +b(data-product-id= product.product_id, class= product.modifier).product-item
                        if product.like
                            +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                                i.far.fa-heart

                                i.fas.fa-heart

                            +smallAlertInfo('В список желаний')

                        if product.stock
                            +e.sale
                                span= product.stock

                        if product.new
                            +e.new
                                span New

                        +e.IMG(src= product.imgSrc, alt= product.alt).img

                        +e.price
                            +price(product.price)

                        +e.H6.title= product.title

                            br

                            strong= product.brand

                        if product.code
                            +e.SPAN.code= product.code

                        if product.btnBuy
                            +e.BUTTON.btn-buy.btn.js-product-btn-buy= product.btnBuy

                else
                    +b(data-product-id= product.product_id, class= product.modifier, class="product-item--small").product-item
                        if product.like
                            +e.A(href="javascript:void(0);").btn-like.btn-like.js-product-btn-like
                                i.far.fa-heart

                                i.fas.fa-heart

                            +smallAlertInfo('В список желаний')

                        if product.stock
                            +e.sale
                                span= product.stock

                        if product.new
                            +e.new
                                span New

                        +e.IMG(src= product.imgSrc, alt= product.alt).img

                        +e.price
                            +price(product.price)

                        +e.H6.title= product.title

                            br

                            strong= product.brand

                        if product.code
                            +e.SPAN.code= product.code

                        if product.btnBuy
                            +e.BUTTON.btn-buy.btn.js-product-btn-buy= product.btnBuy

mixin products(data)
    if !data.mobile && !data.extra_mobile
        +b.products-item
            +e.section-left
                +product(data.products[0])

            +e.section-right
                +e.section-right-head
                    +product(data.products[1])

                    +product(data.products[2])

                +e.section-right-footer
                    +product(data.products[3])

                    +product(data.products[4])

    else if data.mobile
        +b.products-item--mobile
            +e.section-left
                +product(data.products[0])

            +e.section-right
                +e.section-right-footer
                    +product(data.products[1])

                    +product(data.products[2])

    else
        +b.products-item--extra-mobile
            +e.section-left
                +product(data.products[0])

mixin article(data)
    each article in data.articles
        if !article.link
            +e.ARTICLE.item.article-item
                +e.item-wrapper.article-item__wrapper
                    +e(style= article.styleBackgroundImage).item-img.article-item__wrapper-img

                    +e.item-content.article-item__content
                        +e.H5.item-content-title.title.article-item__content-title= article.title

                        p= article.description

                        +e.FOOTER.item-content-footer.article-item__content-footer
                            +e.item-content-footer-date.article-item__content-footer-date
                                i(style="background: url(assets/img/articles/icons/date-icon.svg) no-repeat center center / cover")

                                time(datetime= article.dateTime)= article.date

                            +e.item-content-footer-views.article-item__content-footer-views
                                i(style="background: url(assets/img/articles/icons/views-icon.svg) no-repeat center center / cover")

                                span= article.views

        else
            +e.A(href="/article.html").item.article-item
                +e.item-wrapper.article-item__wrapper
                    +e(style= article.styleBackgroundImage).item-img.article-item__wrapper-img

                    +e.item-content.article-item__content
                        +e.H5.item-content-title.title.article-item__content-title= article.title

                        p= article.description

                        +e.FOOTER.item-content-footer.article-item__content-footer
                            +e.item-content-footer-date.article-item__content-footer-date
                                i(style="background: url(assets/img/articles/icons/date-icon.svg) no-repeat center center / cover")

                                span= article.date

                            +e.item-content-footer-views.article-item__content-footer-views
                                i(style="background: url(assets/img/articles/icons/views-icon.svg) no-repeat center center / cover")

                                span= article.views

mixin smallAlertInfo(text)
    +b.FIGURE.small-alert-info= text
        span

mixin alert(data)
    if !data.modifier
        +b.alert-info
            +e.text
                +e.IMG(src= data.iconSrc).img

                +e.P.title.title= data.title

                +e.SPAN.description= data.description

                if data.btn
                    +e.A(href="/catalog.html", target="_blank").btn.btn= data.btnText
    else
        +b(class= data.modifier).alert-info
            +e.text
                +e.IMG(src= data.iconSrc).img

                +e.P.title.title= data.title

                +e.SPAN.description= data.description

                if data.btn
                    +e.A(href="/catalog.html", target="_blank").btn.btn= data.btnText

mixin formInputBox(data)
    each box in data.boxes
        if box.security
            +b.form-input-box.security
                if !box.textarea
                    if box.required
                        if box.forForm
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form= box.forForm, required).field

                        else
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, required).field

                        span *

                        +e.I.icon
                            if box.inputType == 'tell'
                                img(src= box.inputIconSrc, alt= box.inputIconAlt, data-type="tell")
                            else
                                img(src= box.inputIconSrc, alt= box.inputIconAlt)

                    else
                        if box.forForm
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form= box.forForm).field

                        else
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength).field

                        +e.I.icon
                            if box.inputType == 'tell'
                                img(src= box.inputIconSrc, alt= box.inputIconAlt, data-type="tell")
                            else
                                img(src= box.inputIconSrc, alt= box.inputIconAlt)

                else
                    if box.required
                        if box.forForm
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form =box.forForm, required).field--textarea

                        else
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, required).field--textarea

                        +e.I.icon
                            img(src= box.inputIconSrc, alt= box.inputIconAlt)

                        span *

                    else
                        if box.forForm
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form =box.forForm).field--textarea

                        else
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength).field--textarea

                        +e.I.icon
                            img(src= box.inputIconSrc, alt= box.inputIconAlt)
        else
            +b.form-input-box
                if !box.textarea
                    if box.required
                        if box.forForm
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form= box.forForm, required).field

                        else
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, required).field

                        span *

                        +e.I.icon
                            if box.inputType == 'tell'
                                img(src= box.inputIconSrc, alt= box.inputIconAlt, data-type="tell")
                            else
                                img(src= box.inputIconSrc, alt= box.inputIconAlt)

                    else
                        if box.forForm
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form= box.forForm).field

                        else
                            +e.INPUT(type= box.inputType, name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength).field

                        +e.I.icon
                            if box.inputType == 'tell'
                                img(src= box.inputIconSrc, alt= box.inputIconAlt, data-type="tell")
                            else
                                img(src= box.inputIconSrc, alt= box.inputIconAlt)

                else
                    if box.required
                        if box.forForm
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form =box.forForm, required).field--textarea

                        else
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, required).field--textarea

                        +e.I.icon
                            img(src= box.inputIconSrc, alt= box.inputIconAlt)

                        span *

                    else
                        if box.forForm
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength, form =box.forForm).field--textarea

                        else
                            +e.TEXTAREA(name= box.inputName, placeholder= box.inputPlaceholder, minlength= box.inputMinLength, maxlength= box.inputMaxLength).field--textarea

                        +e.I.icon
                            img(src= box.inputIconSrc, alt= box.inputIconAlt)

//Header
mixin subMenu(data)
    +e.UL.list
        each list1 in data.list1
            li
                a(href= list1.href)= list1.text

    +e.UL.list
        each list2 in data.list2
            li
                a(href= list2.href)= list2.text

    +e.UL.list
        each list3 in data.list3
            li
                a(href= list3.href)= list3.text

    +e.UL.list
        each list4 in data.list4
            li

                a(href= list4.href)= list4.text
//Catalog
mixin breadCrumbs(data)
    each link in data.links
        +e.A(href= link.href).item= link.title

mixin colorsList(data)
    each color in data.colors
        if color.dataRel == 'default'
            +e.A(href="javascript:void(0);", data-color="white").colors-item--default.js-sort-colors-item.item--default
                +e.E.colors-item-border.item-border
                    i

        else if color.dataColor == 'white'
            +e.A(href="javascript:void(0);", data-color="white").colors-item--white.js-sort-colors-item.item--white
                +e.E.colors-item-border.item-border

                +smallAlertInfo(color.colorAlert)
        else
            +e.A(href="javascript:void(0);", data-color= color.dataColor).colors-item.js-sort-colors-item.item
                +e.E.colors-item-border.item-border

                +smallAlertInfo(color.colorAlert)

mixin pagination(data)
    each number in data.numbers
        if number.active
            if number.mobile
                +e.A(href= number.href, class="item--active").show-mobile= number.order
            else
                +e.A(href= number.href).item--active= number.order

        else
            if !number.dots
                if number.mobile
                    +e.A(href= number.href, class="item").show-mobile= number.order
                else
                    +e.A(href= number.href).item= number.order

            else
                +e(class= number.modifier).item--dots= number.order

//Card product
mixin reviewsList(data)
    +b.UL.card-tabs-reviews-list
        each review in data.reviews
            +e.item
                +e.section-head
                    +e.SPAN.user-name.title= review.author

                    +e.system-like
                        +e.BUTTON.system-like-btn--like
                            i.zmdi.zmdi-thumb-up

                            span= review.countLike

                        +e.BUTTON.system-like-btn--unlike
                            i.zmdi.zmdi-thumb-down

                            span= review.countUnLike

                +e.section-date
                    i.zmdi.zmdi-calendar-check

                    span= review.date

                +e.section-content
                    p.light-text= review.text

                if review.more
                    +e.section-more
                        if review.priority
                            +e.section-more-priority
                                h5.title Преимущества

                                span.light-text= review.textPriority

                        if review.limitations
                            +e.section-more-limitations
                                h5.title Недостатки

                                span.light-text= review.textLimitations

//Basket
mixin basketProducts(data)
    each product in data.products
        +e.item(data-product-id= product.productId)
            +e.item-section-left
                +e.IMG(src= product.photoSrc, alt= product.photoAlt).item-img.basket-img

                +e.item-description
                    +e.SPAN.item-name.title= product.name

                    if !product.isThanks
                        include ./product-count-calculator
                    else
                        +b.product-count-calculator
                            +e.SPAN.count-number.js-count-calculator-indicator 1


            +e.item-section-right
                +e.SPAN(data-price= product.price).item-price.js-basket-product-price= product.priceText

                if !product.isThanks
                    +e.BUTTON.item-btn-delete.js-basket-product-btn-delete
                        i.fas.fa-times


mixin allSumPrices(data)
    +b.form-pay
        +e.SPAN.title= data.title

        +e.price
            +e.SPAN.price-numbers#js-form-pay-price 368

            +e.I.price-valute ₴