+b.SECTION.popup.hide#js-popup
    +e.cover
        +e.cover-content
            +e.BUTTON.btn-close.js-popup-btn-close
                i.fas.fa-times

            include ./forms/form-questions

            include ./forms/form-reviews

            include ./alert-add-products