+b.product-count-calculator
    +e.BUTTON.btn--minus.js-count-calculator-btn-minus -

    +e.SPAN(data-max-count="13").count-number.js-count-calculator-indicator 1

    +e.BUTTON.btn--plus.js-count-calculator-btn-plus +