.product
  &-item
    &--small
      @media #{$med-very-xs}
        padding: 35px 20px

      @media #{$med-small-xs}
        padding-left: 8px!important
        padding-right: 8px!important
        padding-bottom: 15px

      & .product-item__sale span, & .product-item__new span
        @media #{$med-very-xs}
          font-size: 11px

      & .product-item__title
        @media #{$med-very-xs}
          font-size: 12px
          margin-bottom: 20px

      & .product-item__img
        @media #{$med-very-xs}
          height: 135px
          width: 135px
          margin-bottom: 10px

        @media #{$med-small-xs}
          width: 58px!important
          height: 58px!important

      & .price
        @media #{$med-very-xs}
          position: relative
          left: 50%
          transform: translateX(-50%)

      & .price__number
        @media #{$med-very-xs}
          +flex(center, center, false, nowrap)
          font-size: 19px

          &:after
            font-size: 15px

      & .price strike
        @media #{$med-very-xs}
          //top: -20px
          font-size: 10px
          //right: -15px!important
          right: -25px!important

      & .product-item__btn-buy
        @media #{$med-very-xs}
          width: 85%
          font-size: 11px!important
          padding: 10px 15px!important
          margin-top: 15px