+b.products-line#products-similar
    +e.container.container
        +e.section-head
            +e.H4.title.title Похожие товары

            +e.slider-btns
                +e.A(href="javascript:void(0);").slider-btn-prev.btn-round#js-slider-products-similar-btn-prev
                    i.fa.fa-angle-left

                +e.A(href="javascript:void(0);").slider-btn-next.btn-round#js-slider-products-similar-btn-next
                    i.fa.fa-angle-right

        +e.section-content
            +b.UL.products-line-section-content-slider#js-slider-products-similar
                +product({
                    'products': [
                        {
                            'product_id': '21',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-7.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        },
                        {
                            'product_id': '22',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-2.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        },
                        {
                            'product_id': '23',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-5.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        },
                        {
                            'product_id': '24',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-1.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        }
                    ],

                    'one_product': true
                })

                +product({
                    'products': [
                        {
                            'product_id': '25',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-3.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        },
                        {
                            'product_id': '26',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-5.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        },
                        {
                            'product_id': '27',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-2.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        },
                        {
                            'product_id': '28',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-1.png',
                            'alt': 'product-2',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--similar'
                        }
                    ],

                    'one_product': true
                })