+b.SECTION.products-line#products-new
    +e.container.container
        +e.section-head
            +e.H4.title.title Новинки

            +e.slider-btns.owl-nav
                +e.A(href="javascript:void(0);").slider-btn-prev.btn-round.owl-prev#js-slider-products-new-btn-prev
                    i.fa.fa-angle-left

                +e.A(href="javascript:void(0);").slider-btn-next.btn-round.owl-next#js-slider-products-new-btn-next
                    i.fa.fa-angle-right

        +e.section-content
            +b.UL.products-line-section-content-slider#js-slider-products-new
                +product({
                    'products': [
                        {
                            'product_id': '20',
                            'like': true,
                            'new': true,
                            'imgSrc': '/assets/img/products/product-present-7.png',
                            'alt': 'product-7',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--new'
                        },
                        {
                            'product_id': '21',
                            'like': true,
                            'new': true,
                            'imgSrc': '/assets/img/products/product-present-2.png',
                            'alt': 'product-7',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--new'
                        },
                        {
                            'product_id': '22',
                            'like': true,
                            'new': true,
                            'imgSrc': '/assets/img/products/product-present-5.png',
                            'alt': 'product-7',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--new'
                        }
                    ],

                    'one_product': true
                })

                +product({
                    'products': [
                        {
                            'product_id': '23',
                            'like': true,
                            'new': true,
                            'imgSrc': '/assets/img/products/product-present-3.png',
                            'alt': 'product-7',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--new'
                        },
                        {
                            'product_id': '24',
                            'like': true,
                            'new': true,
                            'imgSrc': '/assets/img/products/product-present-1.png',
                            'alt': 'product-7',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--new'
                        },
                        {
                            'product_id': '25',
                            'like': true,
                            'new': true,
                            'imgSrc': '/assets/img/products/product-present-7.png',
                            'alt': 'product-7',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--new'
                        }
                    ],

                    'one_product': true
                })