+b.SECTION.products-line#products-popular
    +e.container.container
        +e.section-head
            +e.H4.title.title Наиболее популярные

            +e.slider-btns
                +e.A(href="javascript:void(0);").slider-btn-prev.btn-round#js-slider-products-popular-btn-prev
                    i.fa.fa-angle-left

                +e.A(href="javascript:void(0);").slider-btn-next.btn-round#js-slider-products-popular-btn-next
                    i.fa.fa-angle-right

        +e.section-content
            +b.UL.products-line-section-content-slider#js-slider-products-popular
                +product({
                    'products': [
                        {
                            'product_id': '12',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-7.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        },
                        {
                            'product_id': '13',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-2.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        },
                        {
                            'product_id': '14',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-5.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        },
                        {
                            'product_id': '15',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-1.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        }
                    ],

                     'one_product': true
                })

                +product({
                    'products': [
                        {
                            'product_id': '16',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-3.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        },
                        {
                            'product_id': '17',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-5.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        },
                        {
                            'product_id': '18',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-2.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        },
                        {
                            'product_id': '19',
                            'like': true,
                            'imgSrc': '/assets/img/products/product-present-1.png',
                            'price': ['368', '450'],
                            'title': 'Подарочный набор',
                            'brand': 'PETER RABBIT',
                            'btnBuy': 'В корзину',
                            'modifier': 'product-item--popular',
                            'alt': 'product-1'
                        }
                    ],

                    'one_product': true
                })