+b.SECTION.products-sale#products-sale
    +e.container.container
        +e.section-head
            +e.H4.title.title Акции и скидки

            +e.slider-btns
                +e.A(href="javascript:void(0);").slider-btn-prev.btn-round#js-slider-products-sale-btn-prev
                    i.fa.fa-angle-left

                +e.A(href="javascript:void(0);").slider-btn-next.btn-round#js-slider-products-sale-btn-next
                    i.fa.fa-angle-right

        +e.section-content
            +b.UL.products-sale-section-content-slider#js-slider-products-sale
                +e.slide
                     +products({
                        'products': [
                            {
                                'product_id': '2',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-4',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '3',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-4',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '4',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-4.png',
                                'alt': 'product-4',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '5',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-5.png',
                                'alt': 'product-4',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '6',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-6.png',
                                'alt': 'product-4',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '7',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '8',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-6.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '9',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '10',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-7.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '11',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-4.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '2',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '3',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '4',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-4.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '5',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '6',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-6.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '7',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '8',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '9',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-6.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            },
                            {
                                'product_id': '10',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '2',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'extra_mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '3',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-3.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'extra_mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '4',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'extra_mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '5',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-2.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'extra_mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '6',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-1.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'extra_mobile': true
                    })

                +e.slide
                    +products({
                        'products': [
                            {
                                'product_id': '7',
                                'like': true,
                                'stock': '20',
                                'imgSrc': '/assets/img/products/product-present-1.png',
                                'alt': 'product-3',
                                'price': ['368', '450'],
                                'title': 'Подарочный набор',
                                'brand': 'PETER RABBIT',
                                'btnBuy': 'В корзину'
                            }
                        ],

                        'one_product': false,
                        'extra_mobile': true
                    })