.header
  &-head
    position: relative
    padding: 6px 0 15px
    +flex(center, center)

    @media (max-width: $media-mobile)
      height: 57px

    &:after
      position: absolute
      content: ''
      bottom: -15px
      left: -5vw
      width: 100vw
      height: 1px
      background: $silver-border-light
      display: none

      @media (max-width: $media-mobile)
        display: block

    &--form-active input
      padding: 10px 35px 10px 15px!important
      border: 1px solid $silver-border-light!important
      max-height: 30px!important
      opacity: 1!important

    &--form-active  &__form-input i
      font-size: 17px!important

    &--form-active li:nth-child(2)
      top: -200%
      opacity: 0

    &--form-active &__item.logo img
      z-index: 1!important

    @media (max-width: $media-mobile)
      justify-content: space-between
      width: 90vw
      margin-bottom: 10px

    @media (max-width: $media-xxs)
      &--form-active
        justify-content: flex-end

      &--form-active
        top: -200%
        opacity: 0

    li
      &:first-child, &:last-child
        display: none

      @media (max-width: $media-mobile)
        &:first-child, &:last-child
          display: inline-block

    &__item
      //&--language
      //  +flex(center, center, false, nowrap)
      //  position: relative
      //  top: 0

        @media (max-width: $media-xs)
          font-size: 14px

    &__item.logo img
      position: relative
      z-index: 5

      @media (max-width: $media-xxs)
        width: 170px

    &__language
      &-item
        position: relative
        top: 0
        padding: 3px 7px
        font-size: 16px
        color: #000
        +flex(center, center)
        transition: background .5s ease, color .5s ease, top .5s ease-out
        border-radius: 2px
        background: transparent
        line-height: 20px

        &:last-child
          margin-right: 0
          margin-top: 5px

        &--active, &:hover
          background: $color-primary
          color: #fff

    form
      position: relative
      +flex(center, center)

      input
        //display: none
        font-size: 16px
        padding: 0
        border: 1px solid transparent
        opacity: 0
        transition: padding .3s ease-out, max-height .3s ease-out, opacity .3s ease-out
        border-radius: 5px
        width: 1005px
        max-height: 0
        max-width: 420px
        color: $color-input
        font-weight: 500
        font-family: $lato-font

        @media (max-width: $media-mobile)
          max-width: 360px
          padding-top: 4px
          padding-bottom: 4px

        @media (max-width: $media-xs)
          max-width: 235px

      button
        background: transparent

        i
          img
            width: 26px
            height: 25px

    &__form
      &-input
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-110%, -50%)

        i
          position: absolute
          top: 50%
          transform: translateY(-50%)
          right: 15px
          cursor: pointer
          font-size: 0
          color: $color-input
          transition: color .3s linear, font-size .3s ease-out
          //display: none

          &:hover
            color: $color-primary