.head
  &-nav
    &-navigation
      position: relative
      top: -4px
      margin-right: 55px

      +flex(space-between, center, false, nowrap)
      width: 100%
      max-width: 176px

      &__item
        a
          position: relative
          +flex(center, center)

          i
            font-size: 23px
            position: absolute
            top: -3px
            transition: opacity .3s linear
            opacity: 1
            color: $color-text

            & + span
              right: -15px

            img
              position: relative

          span
            position: relative
            top: 0
            //left: -40px
            display: block
            font-size: 12px
            color: #fff
            font-weight: 500
            background: $priority-gradient
            border-radius: 2px
            padding: 2px 5px

        &.checked-position-top a
          top: -6px

        &:first-child
          top: 1px

        &:first-child a i:nth-child(2)
          opacity: 0

        &:first-child:hover a i:nth-child(2)
          opacity: 1

        &:last-child
          margin-right: 0

        &:last-child
          margin-right: 0