include ../utils/mixins
include ../../assets/bemto/bemto
    - set_bemto_settings({ modifier: "--" })

block variables

doctype html
html(style="overflow-y: hidden;", lang='en')
    head
        meta(charset="UTF-8")
        title #{title}
        meta(name='description', content=description)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")

    block content