+b.SECTION.articles#articles
    +e.container.container
        +e.section-head
            +e.H4.title.title Наши последние статьи

            +e.slider-btns
                +e.A(href="javascript:void(0);").slider-btn-prev.btn-round#js-slider-articles-btn-prev
                    i.fa.fa-angle-left

                +e.A(href="javascript:void(0);").slider-btn-next.btn-round#js-slider-articles-btn-next
                    i.fa.fa-angle-right

        +e.section-content
            +e.UL.section-content-slider#js-slider-articles
                +article({
                    'articles': [
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-1.png) no-repeat center center / cover',
                            'title': 'Что подарить начальнику?',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1034'
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-2.png) no-repeat center center / cover',
                            'title': 'Топ 10 подарков на рождество',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1022'
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-3.png) no-repeat center center / cover',
                            'title': 'Декор для дома приносящий удачу!',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1000'
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-2.png) no-repeat center center / cover',
                            'title': 'Как приручить дракона, в дом. условиях?',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1034'
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-3.png) no-repeat center center / cover',
                            'title': 'Топ 10 подарков на днюху',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1022'
                        },
                        {
                            'styleBackgroundImage': 'background: url(assets/img/articles/article-image-1.png) no-repeat center center / cover',
                            'title': 'Декор для дома приносящий деньги!',
                            'description': 'С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании...',
                            'dateTime': '2019.04.20',
                            'date': '20.04.2019',
                            'views': '1000'
                        }
                    ]
                })

        +e.A(href="/articles.html").btn.btn Перейти к блогу