+b.SECTION.priority#priority
    +e.container.container
        +b.H4.title.title Почему 7 Salabim?

        +b.UL.priority-list
            +e.item
                +e.item-img(src="assets/img/priority/icon-1.png", alt="priority-icon-1")

                +e.H5.item-name Доступные цены

            +e.item
                +e.item-img(src="assets/img/priority/icon-2.png", alt="priority-icon-2")

                +e.H5.item-name Широкий выбор

            +e.item
                +e.item-img(src="assets/img/priority/icon-3.png", alt="priority-icon-3")

                +e.H5.item-name Безупречный сервис

            +e.item
                +e.item-img(src="assets/img/priority/icon-4.png", alt="priority-icon-4")

                +e.H5.item-name Удобство оплаты