@charset "UTF-8"

body, html
  font-family: $gilroy-font
  position: relative
  width: 100%

*
  box-sizing: border-box

body
  overflow-x: hidden
  color: $color-text


input[type="checkbox"]
  display: none!important

input, textarea
  appearance: none!important
  box-shadow: none

input
  border: 1px solid rgba($color-exclusive, .6)

button
  cursor: pointer
  border: none
  background: transparent
  -webkit-appearance: none
  border-radius: 0

  &:focus
    outline: none

input, button, a, textarea
  &:focus
    outline: none

textarea
  resize: none

input, textarea
  &.error
    animation: no-valid-input .5s linear infinite alternate

*[disabled="disabled"]
  opacity: .5

label
  cursor: pointer

#js-slider-products-sale
  & .product-item
    &__price
      strike
        top: 15%

.information-text-box
  margin-top: 65px
  width: 100%
  font-family: $lato-font
  font-size: 18px
  line-height: 250%
  margin-bottom: 50px

  a
    color: $color-primary

  @media #{$med-mob}
    font-size: 16px
    line-height: 200%

  @media #{$med-mob-small}
    font-size: 14px
    margin-bottom: 35px

.title
  font-weight: bold
  color: $color-text
  font-size: 35px
  font-family: $montserrat-font-bold

  @media #{$med-lg-str}
    font-size: 30px

  @media #{$med-mob}
    font-size: 22px!important

.container
  +container()

.slick-active, .slick-track, .slick-slide, .slick-cloned
  &:focus
    outline: none!important

.text-error, .text-success
  color: red
  font-size: 14px
  width: 100%
  display: none
  padding-top: 25px

.text-success
  color: green

.btn
  transition: background .3s linear, opacity .3s linear
  background: $color-primary
  font-family: $montserrat-font
  font-size: 16px
  color: #ffffff
  padding: 15px 40px
  text-align: center

  @media (max-width: $media-mobile)
    font-size: 12px
    max-width: 170px
    padding-left: 20px
    padding-right: 20px

  &:hover
    background: $color-btn-hover

  &:active
    background: $color-btn-active

  &:visited
    opacity: .5

  &-unique
    color: $color-primary
    background: #fff
    border: 1px solid $color-primary

    &:hover
      background: $color-primary
      color: #fff

  &[disabled="disabled"]
    opacity: .5!important
    cursor: default!important

    &:hover
      background: $color-primary

img
  &[data-type="tell"]
    height: 17px!important


//OWL Carousel
.owl-stage
  display: flex
  flex-wrap: nowrap
  align-items: stretch

  & .product-item
    height: 100%

.owl-nav.disabled
  display: none!important